html {
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}
body {
  background: #222;
  color: #f2f2f2;
  height: 100%;
  margin: 0;
}
.loading-mask {
  display: table;
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 99;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  transition: all 0.2s;
}
.loading-mask span {
  display: table-cell;
  vertical-align: middle;
  color: #888;
  font-size: 16px;
  animation-name: breath;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes breath {
  from {
    color: #eee;
  }
  to {
    color: #444;
  }
}
.title {
  position: fixed;
  top: 0;
  margin: 0;
  z-index: 100;
  padding-top: 20px;
  width: 100%;
  text-align: center;
  color: #ddd;
  text-transform: Capitalize;
}
.title span {
  position: relative;
}
.title .github {
  position: absolute;
  top: 10px;
  right: -45px;
  width: 24px;
  height: 24px;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.2s;
}
.title .github:hover {
  opacity: 1;
}
.main {
  height: 100%;
}
.tooltip {
  position: fixed;
  top: 140px;
  left: 120px;
}
.tooltip div {
  height: 30px;
  width: 40px;
  position: relative;
  cursor: pointer;
}
.tooltip div::after {
  width: 100px;
  font-size: 14px;
  position: absolute;
  top: 16px;
  left: 50px;
  color: #444;
}
.tooltip div.active::after {
  color: #888;
}
.tooltip div:hover::after {
  color: #eee;
}
.tooltip .contain::after {
  content: '\300C\521B\5EFA\300D\5173\7CFB   ';
  font-size: 14px;
}
.tooltip .register::after {
  content: '\300C\6CE8\518C\300D\5173\7CFB   ';
  font-size: 14px;
}
.tooltip .call::after {
  content: '\300C\8C03\7528\300D\5173\7CFB   ';
  font-size: 14px;
}
.category {
  position: fixed;
  top: 80px;
  left: 120px;
}
.category div {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  position: relative;
}
.category div::after {
  font-size: 14px;
  position: absolute;
  top: -4px;
  left: 20px;
  width: 200px;
  color: #888;
}
.category .hook {
  margin-top: 15px;
}
.category .module::after {
  content: '\6A21\5757/\5185\90E8\63D2\4EF6';
}
.category .hook::after {
  content: 'webpack\94A9\5B50';
}
.operation {
  position: fixed;
  bottom: 20px;
  right: 27px;
}
.operation-btn {
  border: none;
  float: left;
  padding: 0 10px;
  margin-left: 10px;
  line-height: 22px;
  background: #D47272;
  color: #eee;
  font-size: 11px;
  transform: scale(0.9);
  cursor: pointer;
}
.operation-btn:hover {
  background: #e48585;
}
.operation-btn:focus {
  outline: none;
}
.info {
  position: fixed;
  border-radius: 5px;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  bottom: 20px;
  left: 27px;
  margin: 0;
  padding: 10px;
  height: 250px;
  width: 250px;
  overflow-y: auto;
}
.info-name {
  word-wrap: break-word;
}
.info-title {
  border-left: 3px solid #444;
  margin: 20px 0 8px 0;
  padding: 0 5px;
  line-height: 1;
  font-size: 14px;
  color: #555;
}
.info-title:first-child {
  margin-top: 0;
}
.info-text {
  font-size: 12px;
  color: #888;
}

